# Файлы, которые НЕ нужно загружать на GitHub

# Скомпилированные программы и артефакты сборки Go
todo
todo.exe
*.exe
*.out
*.test
*.prof
*.exe~

# Файлы IDE
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Файл с данными (чтобы не загружать чужие задачи)
tasks.json
